@model List<PermissionLevels.DTOs.User>
@{
    ViewData["Title"] = "Users";
}
<h1>@ViewData["Title"]</h1>

<table id="example" class="table table-striped table-bordered nowrap" style="width:100%">
    <thead>
        <tr>
            <th>User ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Company Name</th>
            <th>Group Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                <tr>
                    <td>@item.UserID</td>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.CompanyName</td>
                    <td>@item.GroupName</td>
                </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        var table = $('#example').DataTable({
            responsive: true
        });
    });
</script>
